@use "utils" as *;

header {
	margin-bottom: 24px;
	z-index: 2025;
	width: 100%;
	.upper-area {
		height: 63px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #d1d1d1;
		background-color: var(--cor-fundo-cinza);
		.container {
			position: relative;
			@include flex(row, center, space-between);
			.left-area {
				display: flex;
				align-items: center;
				.logo {
					margin-right: 32px;
					img {
						max-width: 90px;
					}
				}
				.acessibilidade {
					display: flex;
					align-items: center;
					gap: 16px;
					margin-right: 112px;
					.btn-feature {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 24px;
						height: 24px;
						border-radius: 50%;
						background-color: var(--cor-fundo-03);
						transition: all 0.3s;
						img {
							max-width: 15px;
						}
						span {
							font-size: 1.3rem;
							font-weight: bold;
							color: var(--cor-texto-secundario);
						}
						&:hover {
							transform: scale(1.2);
						}
						svg {
							max-width: 18px;
							stroke: var(--cor-texto-secundario);
						}
					}
				}
				.btn-play {
					display: flex;
					align-items: center;
					gap: 5px;
					span {
						font-size: 1.6rem;
						font-weight: bold;
						color: var(--cor-texto-secundario);
						transition: all 0.3s;
					}
					svg {
						path {
							transition: all 0.3s;
							fill: var(--cor-texto-secundario);
						}
					}
					&:hover {
						span {
							color: $main-colored;
						}
						svg {
							path {
								fill: $main-colored;
							}
						}
					}
				}
			}
			.action-area {
				display: flex;
				align-items: center;
				gap: 28px;
				.btn-login {
					display: flex;
					align-items: center;
					gap: 8px;
					span {
						font-size: 1.6rem;
						font-weight: bold;
						color: var(--cor-texto-secundario);
						transition: all 0.3s;
					}
					svg {
						path {
							transition: all 0.3s;
							fill: var(--cor-texto-secundario);
						}
					}
					&:hover {
						span {
							color: $main-colored;
						}
						svg {
							path {
								fill: $main-colored;
							}
						}
					}
				}
				.btn-search {
					transition: all 0.3s;
					display: flex;
					align-items: center;
					justify-content: center;
					svg {
						path {
							transition: all 0.3s;
							fill: var(--cor-texto-secundario);
						}
					}
					&:hover {
						transform: scale(1.2);
						svg {
							path {
								fill: $main-colored;
							}
						}
					}
				}
				.btn-burguer-menu {
					.hb {
						width: 40px;
						height: 40px;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
					}
				}
				.btn-burguer-menu {
					display: none;
					.hb {
						width: 40px;
						height: 40px;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
					}
				}
			}

			form {
				position: absolute;
				right: 0;
				background-color: #fff;
				border-radius: 100px;
				height: 48px;
				width: 50%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 10px 0 20px;
				opacity: 0;
				pointer-events: none;
				z-index: -1;
				transition: opacity 0.5s;
				input {
					width: 80%;
					font-size: 1.6rem;
					background-color: transparent;
				}
				.form-buttons {
					display: flex;
					align-items: center;
					gap: 12px;
					.btn-submit {
						width: 36px;
						height: 36px;
						border-radius: 50%;
						background-color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						box-shadow: 0 4px 12.8px 0 rgba(0, 0, 0, 0.15);
					}
					.btn-close {
						cursor: pointer;
						span {
							font-size: 1.6rem;
							color: $main-dark-color;
							font-weight: bold;
							transition: all 0.3s;
						}
						&:hover {
							span {
								color: $main-colored;
							}
						}
					}
				}
				&.visible {
					opacity: 1;
					pointer-events: all;
					z-index: 5;
				}
			}
		}
	}
	nav {
		width: 100%;
		background-color: var(--cor-fundo-02);
		box-shadow: 0 15px 24.8px 0 rgba(0, 0, 0, 0.1);
		ul {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-items: center;
			li {
				width: 100%;
				button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 4.8rem;
					position: relative;
					span {
						font-size: 1.6rem;
						font-weight: bold;
						line-height: 1.38;
						text-align: center;
						color: var(--cor-texto-secundario);
					}
					&:after {
						content: "";
						width: 100%;
						height: 4px;
						background-color: transparent;
						display: block;
						position: absolute;
						bottom: 0;
						transition: all 0.3s;
					}
					&.active {
						span {
							color: $main-colored;
						}
						&::after {
							background-color: $main-colored;
						}
					}
					&:hover {
						span {
							color: $main-colored;
						}
						&::after {
							background-color: $main-colored;
						}
					}
				}
			}
		}
	}
	.menu-mobile {
		position: fixed;
		width: fit-content;
		top: 68px;
		right: 0;
		background-color: #ffffff;
		display: flex;
		align-items: center;

		z-index: 2025;
		transform: translatex(100%);
		transition: all 0.3s;
		width: 50%;
		.menu-container {
			position: relative;
			z-index: 2024;
			padding: 38px 26px 38px 20px;
			border-bottom-left-radius: 20px;
			transition: all 0.3s;
			gap: 12px;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			transition: all 0.3s;
			width: 100%;
			.btn-login {
				display: flex;
				align-items: center;
				gap: 8px;
				border: 1px solid #d1d1d1;

				border-radius: 20px;
				height: 48px;
				padding: 0 12px;
				transition: all 0.3s;
				span {
					font-size: 1.6rem;
					font-weight: bold;
					color: var(--cor-texto-secundario);
					transition: all 0.3s;
				}
				svg {
					path {
						transition: all 0.3s;
					}
				}
				&:hover {
					border-color: $main-colored;
					span {
						color: $main-colored;
					}
					svg {
						path {
							fill: $main-colored;
						}
					}
				}
			}
			ul {
				display: flex;
				gap: 12px;
				flex-direction: column;
				li {
					a {
						font-size: 1.6rem;
						color: var(--cor-texto-primario);
					}
				}
			}
		}
		&.visible {
			pointer-events: all;
			transform: translateX(0);
		}
	}
	@include responsive(650px) {
		position: fixed;
		top: 0;
		.upper-area {
			.container {
				.left-area {
					.acessibilidade {
						display: none;
					}
					.btn-play {
						display: none;
					}
				}
				.action-area {
					.btn-login {
						display: none;
					}
					.btn-burguer-menu {
						display: block;
					}
				}
				form {
					right: 15px;
					width: 400px;
				}
			}
		}
	}
}
